/* reset */

* {
    padding: 0px;
    margin: 0px;
}

/* type */

body {
    font-family: Times, serif;
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    background: cornsilk;
}

/* structure */
.spacer{
  height: 30vh;
  border: 2px solid red;
}

section{
  height: 50vh;
  background: burlywood;
  margin: 50px;
  font-size: 20px;
}