#chart {
    width: 800px;
    height: 400px;
    position: relative;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
  }
  
  body {
    background-image: url('beach.jpeg');
    background-size: cover;
  }
  